JIRA_EMAIL=your-email@redhat.com
JIRA_TOKEN=your-jira-api-token
JIRA_HOST=redhat.atlassian.net

JENKINS_URL=https://jenkins-instance.your-org.com
JENKINS_USER=your-username
JENKINS_API_TOKEN=your-jenkins-api-token
